<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"> <%= page_title %> </h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<div class="kt-subheader__breadcrumbs">
			<a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
		</div>
	</div>
</div>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<form class="kt-form kt-form--label-right" id="frmCreateClass" enctype="multipart/form-data" action="<%= generateUrl('class.insert') %>" method="POST">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>School:</label>
								<select name="school_id" id="school_id" class="form-control kt-selectpicker bookId" data-live-search="true">
									<option disabled selected value>Select a school</option>
									<%school_info.map((school)=>{%>
										<option value="<%= school._id %>"><%= school.school_name%></option>
									<%})%>
								</select>
							</div>
							<div class="col-lg-6">
								<label>Class:</label>
								<select name="class_name" id="class_name" class="form-control kt-selectpicker bookId" data-live-search="true">
									<option disabled selected value>Select a class</option>
									<%class_info.map((clas)=>{%>
										<option value="<%= clas.class_name %>"><%= clas.class_name%></option>
									<%})%>
								</select>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<button type="submit" class="btn btn-primary">Save</button>
									<a href="<%= generateUrl('class.list') %>" class="btn btn-secondary">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>