<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="frmCreateQuestion" enctype="multipart/form-data"
                    action="<%= generateUrl('question.insert') %>" method="POST">
                    <div class="kt-portlet__body">

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Books:</label>
                                <select name="book_id" id="book_id" class="form-control kt-selectpicker bookId"
                                    data-live-search="true">
                                    <option disabled selected value>Select a Book</option>
                                    <%books.map((book)=>{%>
                                    <option value="<%= book._id %>"><%= book.title%></option>
                                    <%})%>
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <label>Chapter:</label>
                                <select name="title" id="title" class="form-control kt-selectpicker titleId"
                                    data-live-search="true">
                                    <option disabled selected value>Select Chapter</option>

                                </select>
                            </div>

                        </div>

                    </div>
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Question Type:</label>
                                <select name="question_type" id="question_type" class="form-control kt-selectpicker "
                                    data-live-search="true">
                                    <option disabled selected value>Select a Type</option>
                                    <option value="descriptive">Descriptive</option>
                                    <option value="drawing">Drawing</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Points:</label>
                                <input type="text" name="points" id="point" class="form-control"
                                    placeholder="Enter Points">
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Question:</label>
                                <textarea class="ckeditor form-control" name="question" id="question"
                                    placeholder="Enter Question"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('question.list') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>