<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-list-1"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    <%= page_title %>
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-12 kt-margin-b-20-tablet-and-mobile">
                                    <%if(response.length > 0 && response != null){%>
                                    <table class="table">
                                            <thead>
                                              <tr>
                                                <th>Provider Type</th>
                                                <th>Coins</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <%response.map(data=>{%>
                                              <tr>
                                                <td><%= data.provider_type %></td>
                                                <td><%= data.no_of_coins %></td>
                                              </tr>
                                              <%})%>
                                              <tr>
                                                  <td style="font-weight: bold;">Total Coins : </td>
                                                  <td style="font-weight: bold;"><%= total %></td>
                                              </tr>
                                              
                                            </tbody>
                                          </table>
                                            <%}else{%>
                                                <h5>Child not getting any coins from parent, teacher and principal</h5>
                                                <hr>
                                                <%}%>
                                                <form class="kt-form kt-form--label-right" id="addCountryForm" action="<%= generateUrl('student.cointoadmin') %>" method="POST">
                                                    <div class="kt-portlet__body">
                                                       <div class="row">
                                                           <div class="col-md-6">
                                                            <label>Admin Provide Coins:</label>
                                                            <input type="number" name="user_balance" id="user_balance" class="form-control" placeholder="Enter Number of Coins">
                                                            <input type="hidden" name="id" value="<%if(response.length > 0 && response != null){%><%=response[0].coin_to_user_id%><%}else{%><%= student %><%}%>">
                                                           </div>
                                                       </div>
                                                    </div>
                                                     <div class="kt-portlet__foot">
                                                        <div class="kt-form__actions">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <a href="<%= generateUrl('country.list') %>" class="btn btn-secondary">Cancel</a>
                                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">

            <!--begin: Datatable -->
            <div class="kt-datatable" id="countryRecordSelection">
            </div>

            <!--end: Datatable -->
        </div>
    </div>
</div>
<!-- <script>
    var fileref=document.createElement('script')
    fileref.setAttribute("type","text/javascript")
    fileref.setAttribute("src", "/assets/app/custom/general/crud/metronic-datatable/advanced/record-selection-coins.js");
    document.getElementsByTagName("body")[0].appendChild(fileref);
</script> -->