<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="CreateChapterValidation" enctype="multipart/form-data"
                    action="<%= generateUrl('chapter.insert') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Books:</label>
                                <select name="book_id" id="book_id" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="<%= books._id %>"><%= books.title %></option>
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <label>Chapter No:</label>
                                <select name="chapter_no" id="chapter_no" class="form-control kt-selectpicker" onchange="checkChapterNo('chapter/create')" >
                                    <option value="">Select a Chapter</option>
                                    <% for(let i = 1; i<= books.chapter_num; i++) {%>
                                    <option value="<%= i %>"><%=i%></option>
                                    <% } %>
                                </select>
                                <div id="chapter-no-message" style="display: none;">
                                    <i class="" style="color: red;">Chapter No Already Exists</i>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="">Chapter Icon:</label>
                                <input type="file" name="chapter_icon" id="chapter_icon" style="height:auto;"
                                    class="form-control">
                            </div>
                            <div class="col-lg-6">
                                <label>No. of Pages:</label>
                                <input type="text" min="1" name="chapter_pages" id="chapter_pages" class="form-control"
                                    placeholder="Enter Number of Pages">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Title:</label>
                                <input type="text" name="title" id="title" class="form-control" onfocusout="checkChapterTitle('chapter/create')"
                                    placeholder="Enter Title">
                                    <div id="chapter-title-message" style="display: none;">
                                        <i class="" style="color: red;">Chapter title Already Exists</i>
                                    </div>
                            </div>
                            <div class="col-lg-6">
                                <label>Description</label>
                                <textarea class="form-control" name="description" id="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">Save</button>

                                    <a href="<%= generateUrl('book.getallChapter',{id: book_id}) %>"
                                        class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>