<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="EditChapterValidation"
                    action="<%= generateUrl('chapter.update') %>" method="POST" enctype="multipart/form-data">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Book:</label>
                                <select name="book_id" id="book_id" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                   
                                    <option value="<%= response.book._id %>"><%= response.book.title %>
                                    </option>
                                  
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Chapter No:</label>
                                <input type="text" name="chapter_no" id="chapter_no" class="form-control"
                                value="<%= response.chapter_data.chapter_no %>" readonly>
                
                                
                            </div>
                        </div>
                        <div class="form-group row">
                                <% if(response.chapter_data.chapter_icon !=''){ %>

                            <div class="col-lg-3">
                                <% } else {
                                    %>
                                    <div class="col-lg-6">
                                    <%
                                } %>
                                <label class="">Chapter Icon:</label>
                                <input type="file" style="height:auto;" name="chapter_icon" id="chapter_icon"
                                    class="form-control">
                            </div>
                            <% if(response.chapter_data.chapter_icon !=''){ %>
                            <div class="col-lg-3">
                                <div class="kt-widget31">
                                    <div class="kt-widget31__item">
                                        <div class="kt-widget31__content">
                                            <div class="kt-widget31__pic">
                                                <img src="/uploads/chapter/thumb/<%=response.chapter_data.chapter_icon%>"
                                                    style="width:100%" class="Em16">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <div class="col-lg-6">
                                <label>No. of Pages:</label>
                                <input type="text" min="1" name="chapter_pages" id="chapter_pages"
                                    value="<%= response.chapter_data.chapter_pages%>" class="form-control"
                                    placeholder="Enter Number of Pages">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Title:</label>
                                <input type="text" name="title" id="title" class="form-control"
                                    value="<%= response.chapter_data.title%>"  onfocusout="checkChapterTitleForEdit('<%= response.chapter_data.title%>')">
                                    <div id="chapter-title-message" style="display: none;">
                                        <i class="" style="color: red;">Chapter title Already Exists</i>
                                    </div>
                            </div>
                            <div class="col-lg-6">
                                <label>Description:</label>
                                <textarea class="form-control" name="description"
                                    id="description"><%= response.chapter_data.description%></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Status:</label>
                                <select name="status" id="status" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="Active"
                                        <%=response.chapter_data.status=="Active" ? 'selected' : '' %>>Active
                                    </option>
                                    <option value="Inactive"
                                        <%=response.chapter_data.status=="Inactive" ? 'selected' : '' %>>Inactive
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="id" value="<%= response.chapter_data._id%>">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href="<%= generateUrl('book.getallChapter',{id: response.chapter_data.book_id}) %>"
                                        class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>