<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="CreatePageValidation" enctype="multipart/form-data"
                    action="<%= generateUrl('page.insert') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Book Name:</label>
                                <select name="book_id" id="book_id" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="<%= pagedetail.book_id._id %>"><%= pagedetail.book_id.title %>
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Chapters Name:</label>
                                <input type="text" name="title" id="title" class="form-control"
                                    placeholder="Enter Chapter Name" value="<%= pagedetail.title %>" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Chapters No:</label>
                                <input type="text" name="chapter_no" id="chapter_no" class="form-control"
                                    placeholder="Enter Chapter No" value="<%= pagedetail.chapter_no %>" readonly>
                            </div>
                            <div class="col-lg-6">
                                <label>Select Page No:</label>
                                <select min="1" name="page_number" id="page_number" class="form-control"
                                    data-live-search="true" title="Choose one of the following..." onchange="checkPageNo()">
                                    <option value="">Select Page Number</option>
                                    <% for(let i = 1; i<= pagedetail.chapter_pages; i++) {%>
                                    <option value="<%= i %>"><%=i%></option>
                                    <% } %>
                                </select>
                                <div id="page-no-message" style="display: none;">
                                    <i class="" style="color: red;">Page No Already Exists</i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Page Name:</label>
                                <input type="text" name="page_title" id="page_title" class="form-control"
                                    placeholder="Enter Page Title" onfocusout="checkPageTitle()">
                                    <div id="page-title-message" style="display: none;">
                                        <i class="" style="color: red;">Page title Already Exists</i>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Description</label>
                                <textarea class="ckeditor form-control" name="page_content"
                                    id="page_content"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <input type="hidden" name="chp_id" id="chp_id" value="<%= chapter_id %>" />
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">Save</button>

                                    <a href="<%= generateUrl('chapter.getallPages',{id: chapter_id})%>"
                                        class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>