<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="EditPageValidation"
                    action="<%= generateUrl('page.update') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Book Name:</label>
                                <select name="book_id" id="book_id" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="<%= response.book._id %>"><%= response.book.title %>
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Chapters Name:</label>
                                <input type="text" name="title" id="title" class="form-control"
                                    placeholder="Enter Chapter Name" value="<%= response.chapter_data.title %>"
                                    readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Chapters No:</label>
                                <input type="text" name="chapter_no" id="chapter_no" class="form-control"
                                    placeholder="Enter Chapter No" value="<%= response.chapter_data.chapter_no %>"
                                    readonly>
                            </div>
                            <div class="col-lg-6">
                                <label>Select Page No:</label>
                                <select min="1" name="page_number" id="page_number" class="form-control"
                                    data-live-search="true" title="Choose one of the following..." onchange="checkPageNoForEdit('<%= pageno %>')">
                                    <option value="">Select a Page Number</option>
                                    <% for(let i = 1; i<= response.chapter_data.chapter_pages; i++) {%>
                                    <option value="<%= i %>" <%=(i == pageno)? 'selected' : ''%>>
                                        <%= i %></option>
                                    <% } %>
                                </select>
                                <div id="page-no-message" style="display: none;">
                                    <i class="" style="color: red;">Page No Already Exists</i>
                                </div>
                            </div>
                        </div>

                        <%
                    var CNT = 0;
                    for(var k=0;k<response.chapter_data.pages.length;k++){
                        if(pageno == response.chapter_data.pages[k].page_number){
                            CNT = k;
                        }
                    }
                    %>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Page Name:</label>
                                <input type="text" name="page_title" id="page_title" class="form-control"
                                    value="<%=response.chapter_data.pages[CNT].page_title%>"
                                    placeholder="Enter Page Title" onfocusout="checkPageTitleForEdit('<%=response.chapter_data.pages[CNT].page_title%>')">
                                    <div id="page-title-message" style="display: none;">
                                        <i class="" style="color: red;">Page title Already Exists</i>
                                    </div>
                            </div>

                            <div class="col-lg-6">
                                <label>Status:</label>
                                <select name="status" id="status" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="Active"
                                        <%=response.chapter_data.pages[CNT].status=="Active" ? 'selected' : '' %>>Active
                                    </option>
                                    <option value="Inactive"
                                        <%=response.chapter_data.pages[CNT].status=="Inactive" ? 'selected' : '' %>>
                                        Inactive
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Description</label>
                                <textarea class="ckeditor form-control" name="page_content"
                                    id="page_content"><%=response.chapter_data.pages[CNT].page_content%></textarea>
         
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="cid" value="<%= response.chapter_data._id%>">
                                    <input type="hidden" name="id" value="<%= response.chapter_data.pages[CNT]._id%>">
                                    <input type="hidden" name="position" value="<%= CNT %>">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href="<%= generateUrl('chapter.getallPages',{id: response.chapter_data._id}) %>"
                                        class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>