<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <% if(response.length > 0) {%>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label><b>Book Name:</b></label>
                            <%= response[0].book_info.title%>
                        </div>
                        <div class="col-lg-4">
                            <label><b>Chapter Name:</b></label>
                            <%= response[0].chapter_info.title%>
                        </div>
                        <div class="col-lg-4">
                            <label><b>User Name:</b></label>
                            <%= response[0].user_info[0].first_name %> <%= response[0].user_info[0].last_name %>
                        </div>
                    </div>

                </div>
                <div class="kt-portlet__body">
                    <% for(let i=0; i<response[0].qadetails.length; i++){ %>
                    <div class="row questionAnswerSection">
                        <div class="col-lg-12">
                            <label class="questionLabel">Question:</label>
                            <span class="answer"><%- response[0].qadetails[i].question_id[0].question %></span>
                        </div>
                        <% if(response[0].qadetails[i].answer_type == 'drawing') {%>
                        <div class="col-lg-12">
                            <label class="questionLabel">Answer:</label>
                            <img src="/uploads/question-answer/<%=response[0].qadetails[i].answer%>" style="width:100%"
                                class="Em16">
                        </div>
                        <% }else {%>
                        <div class="col-lg-12">
                            <label class="questionLabel">Answer:</label>
                            <textarea class="ckeditor form-control" name="answer"
                                id="answer"><%= response[0].qadetails[i].answer %></textarea>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
                <% }else{ %>
                <div class="custom-msg">
                    <h4>There are no data at this moment.</h4>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>