<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
    <div class="kt-footer__copyright">
        2019&nbsp;&copy;&nbsp;<a href="javascript:;" target="_blank" class="kt-link">Make Thinkers</a>
    </div>

</div>
<!-- end:: Footer -->