<!-- begin:: Aside -->
<button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

    <!-- begin:: Aside -->
    <div class="kt-aside__brand kt-grid__item  " id="kt_aside_brand">
        <div class="kt-aside__brand-logo">
            <a href="<%= generateUrl('user.dashboard') %>">
                <img alt="Logo" src="/assets/media/logos/logo-4.png" />
            </a>
        </div>
    </div>

    <!-- end:: Aside -->

    <!-- begin:: Aside Menu -->
    <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="kt-aside-menu  kt-aside-menu--dropdown " data-ktmenu-vertical="1"
            data-ktmenu-dropdown="1" data-ktmenu-scroll="0">
            <ul class="kt-menu__nav ">
                <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a
                        href="<%= generateUrl('user.dashboard') %>" class="kt-menu__link "><i
                            class="kt-menu__link-icon flaticon-home-2"></i><span
                            class="kt-menu__link-text">Dashboard</span></a></li>
                <li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'user-management') ? 'kt-menu__item--active' : ''%>"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-avatar"></i><span
                            class="kt-menu__link-text">Users</span></a>
                    <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a
                                    href="<%= generateUrl('student.listing') %>" class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">Students</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="<%= generateUrl('parents.list') %>"
                                    class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">Parents</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="<%= generateUrl('teacher.list') %>"
                                    class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">Teachers</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a
                                    href="<%= generateUrl('principle.list') %>" class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">Principles</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'genre-management') ? 'kt-menu__item--active' : ''%>"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-paper"></i><span
                            class="kt-menu__link-text">Genres</span></a>
                    <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a href="<%= generateUrl('genre.create') %>"
                                    class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">Add New</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a
                                    href="<%= generateUrl('genre.listing') %>" class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">List</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'author-management') ? 'kt-menu__item--active' : ''%>"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-user"></i><span
                            class="kt-menu__link-text">Authors</span></a>
                    <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a
                                    href="<%= generateUrl('author.create') %>" class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">Add New</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a
                                    href="<%= generateUrl('author.listing') %>" class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">List</span></a></li>
                        </ul>
                    </div>
                </li>
		
		<li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'role-management') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
			<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
				<i class="kt-menu__link-icon fab fa-product-hunt"></i>
				<span class="kt-menu__link-text">Role</span>
			</a>
			<div class="kt-menu__submenu ">
				<span class="kt-menu__arrow"></span>
				<ul class="kt-menu__subnav">
					<li class="kt-menu__item " aria-haspopup="true">
						<a href="<%= generateUrl('role.list') %>" class="kt-menu__link ">
							<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
							<span class="kt-menu__link-text">List</span>
						</a>
					</li>
				</ul>
			</div>
		</li>

		
		
		
                <li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'book-management') ? 'kt-menu__item--active' : ''%>"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-document"></i><span
                            class="kt-menu__link-text">Books</span></a>
                    <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a href="<%= generateUrl('book.create') %>"
                                    class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">Add New</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="<%= generateUrl('book.listing') %>"
                                    class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">List</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="kt-menu__item" aria-haspopup="true"><a href="<%= generateUrl('cms.list') %>"
                        class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-notepad"></i><span
                            class="kt-menu__link-text">CMS</span></a></li>

                <li class="kt-menu__item" aria-haspopup="true"><a href="<%= generateUrl('country.list') %>"
                        class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-document"></i><span
                            class="kt-menu__link-text">Country</span></a></li>

                <li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'question-management') ? 'kt-menu__item--active' : ''%>"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-book"></i><span
                            class="kt-menu__link-text">Question</span></a>
                    <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a
                                    href="<%= generateUrl('question.create') %>" class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">Add New</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a
                                    href="<%= generateUrl('question.list') %>" class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">List</span></a></li>
                        </ul>
                    </div>
                </li>



                <li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'class-management') ? 'kt-menu__item--active' : ''%>"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                        class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-book"></i><span
                            class="kt-menu__link-text">Class</span></a>
                    <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a href="<%= generateUrl('class.create') %>"
                                    class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">Add New</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="<%= generateUrl('class.list') %>"
                                    class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">List</span></a></li>
                        </ul>
                    </div>
                </li>



                <!-- Avatar Store Management -->
                <li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'avatar-management') ? 'kt-menu__item--active' : ''%>"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon flaticon-book"></i><span
                            class="kt-menu__link-text">Avatars</span></a>
                    <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a
                                    href="<%= generateUrl('avatar.create') %>" class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">Add New</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a
                                    href="<%= generateUrl('avatar.listing') %>" class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">List</span></a></li>
                        </ul>
                    </div>
                </li>

                <!-- Product Management -->
                <li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'product-management') ? 'kt-menu__item--active' : ''%>"
                    aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i
                            class="kt-menu__link-icon fab fa-product-hunt"></i><span
                            class="kt-menu__link-text">Product</span></a>
                    <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a
                                    href="<%= generateUrl('product.create') %>" class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">Add New</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a
                                    href="<%= generateUrl('product.listing') %>" class="kt-menu__link "><i
                                        class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                        class="kt-menu__link-text">List</span></a></li>
                        </ul>
                    </div>
                </li>
		
		<!-- Plan Management -->
		<li class="kt-menu__item  kt-menu__item--submenu <%=(page_name == 'plan-management') ? 'kt-menu__item--active' : ''%>" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
			<a href="javascript:;" class="kt-menu__link kt-menu__toggle">
				<i class="kt-menu__link-icon fab fa-product-hunt"></i>
				<span class="kt-menu__link-text">Plan</span>
			</a>
			<div class="kt-menu__submenu ">
				<span class="kt-menu__arrow"></span>
				<ul class="kt-menu__subnav">
					<li class="kt-menu__item " aria-haspopup="true">
						<a href="<%= generateUrl('plan.list') %>" class="kt-menu__link ">
							<i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
							<span class="kt-menu__link-text">List</span>
						</a>
					</li>
				</ul>
			</div>
		</li>

            </ul>
        </div>
    </div>

    <!-- end:: Aside Menu -->
</div>

<!-- end:: Aside -->