<% layout(layout_directory+'/mainLayout') -%>

    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <%= page_title %>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                    <%= page_title %>
                </span>
            </div>
        </div>
    </div>





    <div class="kt-portlet">
        <!--  <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Adjusted Pills
                </h3>
            </div>
        </div> -->
    
        <form class="kt-form kt-form--label-right" id="addCountryForm" action="<%= generateUrl('country.store') %>" method="POST">
            <div class="kt-portlet__body">

    

                            
                                            <label>Country Name:</label>
                                            <input type="text" name="country_name" id="country_name" class="form-control" placeholder="Enter Country Name" value="">

    
            </div>
            

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="<%= generateUrl('country.list') %>" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                           
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>