<table border="0" cellpadding="0">
	<tr>
		<td><img src="http://111.93.167.180:1403/logos/logo.png"></td> 
	</tr>
	<tr>
		<td>Hello  Mentor,<br> You have requested to call you back.<br><br></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Name : <%=fullname%></td>
	</tr>
	<tr>
		<td>Phone : <%=phone_number%></td>
	</tr>
	<tr>
		<td>Call Back Time : <%=callbacktime%></td>
	</tr>
	<tr>
		<td>Message : <%=message%></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>  
	<tr><td>&nbsp;</td></tr>
	<tr><td>Thank you</td></tr>
</table>