<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title"> <%= page_title %> </h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
		<div class="kt-subheader__breadcrumbs">
			<a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
		</div>
	</div>
</div>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<form class="kt-form kt-form--label-right" id="frmEditAvatar" action="<%= generateUrl('plan.update') %>" method="POST" enctype="multipart/form-data">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Title:</label>
								<input type="text" name="title" id="title" class="form-control" placeholder="Enter Title" value="<%= response.plan_data.title%>">
							</div>
							<div class="col-lg-6">
								<label>Price:</label>
								<input type="text" name="price" id="price" class="form-control" placeholder="Enter Price" value="<%=JSON.stringify(response.plan_data.price)%>">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>Plan Time:</label>
								<br>
								<input type="radio" name="plan_time"  value="month" <%=response.plan_data.plan_time=="month" ? 'checked' : '' %>>&nbsp;Month<br>
								<input type="radio" name="plan_time"  value="year" <%=response.plan_data.plan_time=="year" ? 'checked' : '' %>>&nbsp;Year
							</div>
							<div class="col-lg-6">
								<label>Provision of child add:</label>
								<input type="text" name="child_add_provision" id="child_add_provision" class="form-control" placeholder="Enter Provision of child" value="<%=response.plan_data.child_add_provision%>">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12">
								<label>Content:</label>
								<textarea name="content" rows="3" class="form-control" placeholder="Enter Content"><%= response.plan_data.content%></textarea>
							</div>
						</div>
						<div class="col-lg-6">
							<label>Status:</label>
							<select name="status" id="status" class="form-control kt-selectpicker" data-live-search="true" title="Choose one of the following...">
								<option value="Active" <%=response.plan_data.status=="Active" ? 'selected' : '' %>>Active</option>
								<option value="Inactive"	<%=response.plan_data.status=="Inactive" ? 'selected' : '' %>>Inactive</option>
							</select>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-6">
									<input type="hidden" name="pid" id="pid" value="<%= response.plan_data._id%>">
									<button type="submit" class="btn btn-primary">Save</button>
									<a href="<%= generateUrl('plan.list') %>" class="btn btn-secondary">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>