<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="frmEditAvatar"
                    action="<%= generateUrl('avatar.update') %>" method="POST" enctype="multipart/form-data">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Title:</label>
                                <input type="text" name="title" id="title" class="form-control" placeholder="Enter Avatar Title" value="<%= response.avatar_data.title%>">
                            </div>
                            <div class="col-lg-6">
                                <label>Purchase Coin:</label>
                                <input type="number" min='1' name="purchase_coin" id="purchase_coin" value="<%= response.avatar_data.purchase_coin%>" class="form-control" placeholder="Enter coin count">
                            </div>                            
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Avatar 1:</label>
                                <input type="file" name="image_1" id="image_1" accept="image/*" class="form-control">
                            </div>
                            <div class="col-lg-6">
                                <label>Avatar 2:</label>
                                <input type="file" name="image_2" id="image_2" accept="image/*" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Avatar Audio:</label>
                                <input type="file" name="audio" id="audio" accept="audio/*" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Description:</label>
                                <textarea name="description" id="description" class="form-control"><%= response.avatar_data.description %></textarea>

                            </div>
                            <div class="col-lg-6">
                                <label>Question:</label>
                                <textarea name="question" id="question" class="form-control"><%= response.avatar_data.question %></textarea>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Status:</label>
                                <select name="status" id="status" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="Active"
                                        <%=response.avatar_data.status=="Active" ? 'selected' : '' %>>Active</option>
                                    <option value="Inactive"
                                        <%=response.avatar_data.status=="Inactive" ? 'selected' : '' %>>Inactive
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="aid" id="aid" value="<%= response.avatar_data._id%>">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('avatar.listing') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>