<table border="0" cellpadding="0">
	<tr>
		<td><img src="http://111.93.167.180:1396/assets/media/logos/logo-4.png"></td> 
	</tr>
	<tr>
		<td>Hello  <%=user_fullname%>,<br> Your child <%=child_name%> is completed a chapter.<br><br></td>
	</tr>
	<tr>
		<td>Please click the below link to give him/her coin</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><a href="<%=link%>"><%=link%></a></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>  
	<tr><td>&nbsp;</td></tr>
	<tr><td>Thank you</td></tr>
</table>