<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="createBookValidation" enctype="multipart/form-data"
                    action="<%= generateUrl('book.insert') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Title:</label>
                                <input type="text" name="title" id="title" class="form-control"
                                    placeholder="Enter Book Title">
                            </div>
                            <div class="col-lg-6">
                                <label>Sub Title:</label>
                                <input type="text" name="subtitle" id="subtitle" class="form-control"
                                    placeholder="Enter Book Sub Title">
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="">Genre:</label>
                                <select name="genre" id="genre" class="form-control kt-selectpicker">
                                    <option value="">Select a Genre</option>
                                    <% _.each(gneres, function(genre){ %>
                                    <option value="<%= genre._id %>"><%= genre.title %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Author:</label>
                                <select name="author" id="author" class="form-control kt-selectpicker"
                                    data-live-search="true" title="Choose one of the following...">
                                    <option value="">Select a Author</option>
                                    <% _.each(authors, function(author){ %>
                                    <option value="<%= author._id %>"><%= author.title %></option>
                                    <% }) %>
                                </select>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="">Cover Image:</label>
                                <input type="file" name="picture" id="picture" style="height:auto;"
                                    class="form-control">
                            </div>
                            <div class="col-lg-6">
                                <label>No. of Chapters:</label>
                                <input type="text" min="1" name="chapter_num" id="chapter_num" class="form-control"
                                    placeholder="Enter Number of Chapters">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="">Grade:</label>
                                <select name="grade" id="grade" class="form-control kt-selectpicker">
                                    <option value="">Select Grade</option>
                                    <% for(let g=1; g<=8; g++){ %>
                                    <option value="<%= g %>"><%= g %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('book.listing') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>