<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="ProductEditValidation" enctype="multipart/form-data"
                    action="<%= generateUrl('product.update') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="">Product Image:</label>
                                <input type="file" style="height:auto;" name="pro_image" id="pro_image"
                                    class="form-control">
                            </div>
                            <% if(response.pro_image !=''){ %>
                            <div class="col-lg-3">
                                <div class="kt-widget31">
                                    <div class="kt-widget31__item">
                                        <div class="kt-widget31__content">
                                            <div class="kt-widget31__pic">
                                                <img src="/uploads/product/thumb/<%=response.pro_image%>"
                                                    class="proImg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <div class="col-lg-6">
                                <label>Product Link:</label>
                                <input type="text" name="link" id="link" pattern="https://.*" class="form-control"
                                    value="<%=response.link%>" placeholder="Enter Product Link">
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Status:</label>
                                <select name="status" class="form-control kt-selectpicker">
                                    <option value="Active" <%=(response.status == 'Active') ? 'selected' : '' %>>Active
                                    </option>
                                    <option value="Inactive" <%=(response.status == 'Inactive') ? 'selected' : '' %>>
                                        Inactive
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="pid" value="<%= response._id %>">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('product.listing') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>