<% layout(layout_directory+'/mainLayout') -%>
<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>
<!-- end:: Subheader -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form action="<%= generateUrl('admin.updateAdminPassword')%>" method="post" class="form" id="changePasswordForm" novalidate>
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="user_name" class="control-label">Old Password</label>
                                <div class="input-icon right controls">
                                    <input id="old_password" name="old_password" type="password"
                                        placeholder="Enter Old Password" class="form-control" value="" required
                                        data-validation-required-message="This field is required" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <label for="user_name" class="control-label">New Password</label>
                                <div class="input-icon right controls">
                                    <input id="password" name="password" type="password"
                                        placeholder="Enter New Password" class="form-control required" value="" required
                                        data-validation-required-message="This field is required" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="user_name" class="control-label">Confirm Password</label>
                                <div class="input-icon right controls">
                                    <input id="password_confirm" name="password_confirm" type="password"
                                        placeholder="Enter Confirm Password" class="form-control"
                                        data-validation-match-match="password"
                                        data-validation-match-message="Password doesn't match" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input id="_id" type="hidden" name="id" value="<%= user.id %>" />
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('user.dashboard') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>