<% layout(layout_directory+'/mainLayout') -%>
<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">

	<ol class="breadcrumb page-breadcrumb pull-right">
		<li>
			<i class="fa fa-home"></i>&nbsp;
			<a href="<%= generateUrl('user.dashboard')%>">Home</a>&nbsp;&nbsp;
			<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
		<li class="active">Edit Vehicle Owner</li>
	</ol>
	<div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title" id="basic-layout-tooltip">Edit Vehicle Owner</h4>
			</div>
			<div class="card-body collapse show">
				<div class="card-block">
					<form action="<%= generateUrl('vehicleOwner.update')%>" enctype="multipart/form-data" method="post"
						class="form-validate" novalidate>
						<input type="hidden" name="user_id" value="<%=response.user_data._id%>">
						<div class="form-body pal overflowShow">
							<div class="row">
								<div class="form-group col-md-6 mb-2">
									<label for="firstName" class="control-label">Full Name</label>
									<div class="controls">
										<input id="firstName" name="firstName" type="text"
											placeholder="Enter Full Name" class="form-control required" required
											data-validation-required-message="This field is required"
											value="<%=response.user_data.fullName %>" />
									</div>
								</div>
								
							
								<div class="form-group col-md-6 mb-2">
									<label for="email" class="control-label">Email</label>
									<div class="controls">
										<input id="email" name="email" type="text" readonly placeholder="Enter Email"
											class="form-control required" required
											data-validation-required-message="This field is required"
											data-validation-regex-regex="([A-Za-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})"
											data-validation-regex-message="Enter Valid Email" aria-invalid="true"
											value="<%=response.user_data.email%>" />
									</div>
								</div>

								
								
							</div>

							<!-- <div class="row">
									<div class="form-group col-md-6 mb-2">
										<label for="zipcode" class="control-label">Country</label>
										<div class="controls">
											<select name="country_id" id="country_id" class="form-control country required" required data-validation-required-message="This field is required">
												<option value="">Select Country</option>
												<% if(!_.isEmpty(response.country)) {%>
													<% response.country.forEach(function(country){ %>
													<option value="<%=country._id %>" <%=response.user_data.country_id== country._id?'SELECTED':''%>><%= country.country_name %></option>
												<% });
												} %>
											</select>
										</div>
									</div>

									<div class="form-group col-md-6 mb-2">
										<label for="profile_image" class="control-label">State</label>
										<div class="controls">
											<select name="state_id" id="state_id" class="form-control state required" required data-validation-required-message="This field is required">
												<option value="">Select State</option>
												<% if(!_.isEmpty(response.state)) {%>
													<% response.state.forEach(function(state){ %>
													<option value="<%=state._id %>" <%=response.user_data.state_id== state._id?'SELECTED':''%>><%= state.state_name %></option>
												<% });
												} %>
											</select>
										</div>
									</div>
										
								</div> -->
							<div class="row">
									<!-- <div class="form-group col-md-6 mb-2">
										<label for="profile_image" class="control-label">City</label>
										<div class="controls">
												<select name="state_id" id="state_id" class="form-control city required" required data-validation-required-message="This field is required">
														<% if(!_.isEmpty(response.city)) {%>
															<% response.city.forEach(function(city){ %>
															<option value="<%=city._id %>" <%=response.user_data.city_id == city._id?'SELECTED':''%>><%= city.city_name %></option>
														<% });
														} %>
												</select>
										</div>
									</div> -->

								<div class="form-group col-md-6 mb-2">
									<label for="zipcode" class="control-label">Zip Code</label>
									<div class="controls">
										<input id="zipcode" name="zipcode" type="text" placeholder="Enter Zip Code"
											class="form-control required" required value="<%=response.user_data.zipcode %>"
											data-validation-required-message="This field is required" value=""
											maxlenth="7" minlength="3" aria-invalid="true" />
									</div>
								</div>
									
									<div class="form-group col-md-6 mb-2">
										<label for="contactNumber" class="control-label">Contact Number</label>
										<div class="controls">
											<input id="contactNumber" name="contactNumber" type="text"
												placeholder="Enter Phone Number" class="form-control required" required
												data-validation-required-message="This field is required"
												value="<%=response.user_data.contactNumber %>"
												pattern="^[ ()+]*([0-9][ ()+]*){10}$"
												data-validation-pattern-message="Enter 10 digit contact number"
												aria-invalid="true" />
										</div>
									</div>
								</div>
						</div>
						<div class="form-actions text-right pal">
							<a href="<%= generateUrl('vehicleOwner.list')%>"><button type="button"
									class="btn btn-raised btn-warning mr-1">
									<i class="ft-x"></i> Cancel
								</button>
							</a>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>