<% layout(layout_directory+'/mainLayout') -%>
<section id="add-row">
	<div class="row">
		<div class="col-12">
			<div class="content-header">
				Vehicle Owner List
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body collapse show">
					<div class="card-block">
						<form role="search" method="GET" action="<%= generateUrl('vehicleOwner.list')%>"
							accept-charset="UTF-8" class="form-validate mt-2" novalidate="novalidate">
							<div class="row">
								<div class="col-md-8">
									<!-- <div class="position-relative has-icon-right">
										<input class="form-control round" placeholder="Enter The Keyword" name="keyword"
											value="<%=postdata.keyword%>" type="text">
										<div class="form-control-position">
											<i class="ft-search"></i>
										</div>
									</div> -->
								</div>
								<div class="col-md-4 text-right">
									<!-- <input value="Search" class="btn btn-danger" type="submit"> -->
									<!-- <a href="<%= generateUrl('vehicleOwner.list')%>" class="btn btn-success">View All</a> -->
									<a href="<%= generateUrl('vehicleOwner.create') %>" class="btn btn-primary">
										<i class="fa fa-plus-square"></i>&nbsp; Add &nbsp;
									</a>
								</div>
							</div>
						</form>

						<table class="table table-striped table-bordered add-rows" id="vehicleOwner">
							<thead>
								<tr>

									<th>Full Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Country</th>
									<th>State</th>
									<th>City</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<% if(response.data.length>0){ %>
								<% for(var i=0; i< response.data.length; i++) { %>
								<tr>
									<td><%= response.data[i].fullName %></td>
									<td><%= response.data[i].email %></td>
									<td><%= response.data[i].contactNumber %></td>
									<td><%= response.data[i].country %></td>
									<td><%= response.data[i].state %></td>
									<td><%= response.data[i].city %></td>
									<td>
										<a href="javascript:void(0)"
											onclick="statusChangeFunction('vehicle-owner' ,this)"
											data-team="<%= response.data[i]._id %>" class="btn-sm white btn-round 
										<%= response.data[i].isActive == true ? "btn-success" : "btn-danger"  %>">
											<%= response.data[i].isActive==true ?'Active' : 'Inactive'  %>
										</a>
									</td>
									<td>
										<a href="<%= generateUrl('vehicleOwner.edit',{id: response.data[i]._id}) %>"
											class="success p-0" data-original-title="Update" title="Update">
											<i class="ft-edit-2 font-medium-3 mr-2"></i>
										</a>
										<!-- Vechile list -->
										<a href="<%= generateUrl('vehicle.list',{id: response.data[i]._id}) %>"
											class="success p-0" data-original-title="Update" title="Vehicle List">
											<i class="fa fa-car font-medium-3 mr-2"></i>
										</a>

										<!-- change password -->
										<a href="<%= generateUrl('vehicleOwner.changePassword',{id: response.data[i]._id}) %>"
											class="success p-0" data-original-title="Update" title="Change Password">
											<i class="fa fa-lock font-medium-3 mr-2"></i>
										</a>


										<a href="<%= generateUrl('vehicleOwner.delete', {id: response.data[i]._id})%>"
											class="danger p-0 delete" data-original-title="Delete" title="Delete">
											<i class="ft-x font-medium-3 mr-2"></i>
										</a>
									</td>
								</tr>
								<% } %>
								<% }else{ %>
								<tr>
									<td colspan="8">
										<center>No Record Found</center>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
						<!-- <%- partial(partial_directory+'/pagination.ejs')%> -->
					</div>
				</div>
			</div>


		</div>
	</div>
</section>