<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"> <%= page_title %> </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right" id="frmEditTeacher" enctype="multipart/form-data"
                    action="<%= generateUrl('teacher.update') %>" method="POST">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>First Name:</label>
                                <input type="text" name="first_name" id="first_name" class="form-control"
                                    placeholder="Enter First Name" value="<%= response.user_data.first_name %>">
                            </div>
                            <div class="col-lg-6">
                                <label class="">Last Name:</label>
                                <input type="text" name="last_name" id="last_name" class="form-control"
                                    placeholder="Enter Last Name" value="<%= response.user_data.last_name %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Email:</label>
                                <input type="text" name="email" id="email" class="form-control"
                                    placeholder="Enter Email Address" value="<%= response.user_data.email %>">
                            </div>
                            <div class="col-lg-6">
                                <label>School Name:</label>
                                <input type="text" name="school_name" id="school_name" class="form-control"
                                    placeholder="Enter School Name"
                                    value="<%= response.user_data.school.school_name %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Status:</label>
                                <select name="isActive" class="form-control kt-selectpicker">
                                    <option value="Active"
                                        <%=(response.user_data.isActive == true) ? 'selected' : '' %>>Active</option>
                                    <option value="Inactive"
                                        <%=(response.user_data.isActive == false) ? 'selected' : '' %>>Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" name="teacherId" value="<%= response.user_data._id %>">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a href="<%= generateUrl('teacher.list') %>" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>