<% layout(layout_directory+'/mainLayout') -%>
	<!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">

        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home"></i>&nbsp;
                <a href="<%= generateUrl('user.dashboard')%>">Home</a>&nbsp;&nbsp;
                <i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">View <%= userrole=="driver" ? utils.humanize(userrole) : "Passenger" %> Details</li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
	<div class="row">
        <div class="col-lg-12">
            <div class="card">
				<div class="card-header">
                    <h4 class="card-title" id="basic-layout-tooltip">View <%= userrole=="driver" ? utils.humanize(userrole) : "Passenger" %> Details</h4>
				</div>
                <div class="card-body collapse show">
                    <div class="card-block">
						<div>
							<center><%= userrole=="driver" ? utils.humanize(userrole) : "Passenger" %> Details</center>
								<% JSON.stringify(response.data) %>
							<div class="">
								<label>Name:</label> <%= response.data.firstName +' '+ response.data.lastName %>
							</div>
							 <div class="">
								<label>Email:</label> <%= response.data.email %>
							</div>
							<div class="">
								<label>Contact No.:</label> <%= response.data.contactNumber %>
							</div>
							<div class="">
								<label>Address:</label> <%= response.data.address %>
							</div>
							<div class="">
								<label>Lat Long:</label> <%= response.data.latitude %>, <%= response.data.longitude %>
							</div>
							<div class="">
								<label>Bio:</label> <%= response.data.bio %>
							</div>
							<div class="">
								<label>Rating:</label> <%= Number(response.data.rating) %>
							</div>
							<div class="">
								<label>Wallet Amount:</label> <%= Number(response.data.walletAmount) %>
							</div>
							<div class="">
								<label>Referal Code:</label> <%= response.data.referralCode %>
							</div>
							<div class="">
								<label>Credit Amount:</label> <%= Number(response.data.creditAmount) %>
							</div>
							<div class="">
								<label>Registered On:</label> <%= moment(response.data.createdAt).format('D,MMM,YYYY  HH:mm:ss  A') %>
							</div>
							<div class="">
								<label>License Number:</label> <%= response.data.licenseNumber %>
							</div>
							<div class="">
									<% if (response.data.licenseImage) { %>
								<label>License Image:</label><img src= "/uploads/license/<%= response.data.licenseImage %>" alt= "Your License Image is not uploaded" accept="image/png,image/gif,image/jpeg,image/jpg" width="200" height="150">
								<% } %>
							</div>
							<% if (response.data.userrole==="driver") { %>
							<div class="">
								<label>Vehicle Brand:</label> <%= response.data.vehicleDetails[0].vehicleBrand %>
							</div>
							<div class="">
								<label>Vehicle Model:</label> <%= response.data.vehicleDetails[0].vehicleModel %>
							</div>
							<div class="">
								<label>Vehicle Color:</label> <%= response.data.vehicleDetails[0].vehicleColor %>
							</div>
							<div class="">
									<% if (response.data.vehicleDetails[0].vehicleImage) { %>
								<label>Vehicle Image:</label><img src="/uploads/vehicle/<%= response.data.vehicleDetails[0].vehicleImage %>" accept="image/png,image/gif,image/jpeg,image/jpg" width="200" height="150">
								<% } %>
							</div>
							<div class="">
								<label>Vehicle Number Plate:</label> <%= response.data.vehicleDetails[0].vehicleNumberPlate %>
							</div>
							<div class="">
								<label>Total Seats:</label> <%= response.data.vehicleDetails[0].totalSeats %>
							</div>
							<% } %>
						</div>
						<a href="<%= generateUrl(userrole+'.list')%>">
							<button type="button" class="btn btn-raised btn-warning mr-1">
								<i class="fa fa-arrow-left"></i> Back to List
							</button>
						</a>
                    </div>
                </div>
            </div>
        </div>
    </div>